
<section
  id="Register"
  class=" vh-100 d-flex justify-content-center align-items-center"
>
  <div class="overlay"></div>
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="register_form py-4 px-3">
          <a class="logo" routerLink="">
            <img src="assets/imgs/logo-tasks-primary.png" alt="logo">
          </a>
          <form [formGroup]="registerForm" class="example-form">
            <div class="row g-4">
              <div class="col-md-6 ">
                <mat-form-field class="example-full-width w-100" appearance="fill">
                  <mat-label>Username</mat-label>
                  <input type="text" matInput formControlName="username">
                    <mat-error *ngIf="f['username'].errors && f['username'].touched">
                        <mat-error *ngIf="f['username'].errors.required">
                          Username is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="f['username'].errors.minlength">
                          Username <strong>min length is 5</strong>
                        </mat-error>
                    </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6 ">
                <mat-form-field class="example-full-width w-100" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email">
                    <mat-error *ngIf="f['email'].errors && f['email'].touched">
                        <mat-error *ngIf="f['email'].errors.required">
                          Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="f['email'].errors.email">
                          Email <strong>must be email</strong>
                        </mat-error>
                    </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6 ">
                <mat-form-field class="example-full-width w-100"  appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="f['password'].errors && f['password'].touched">
                    <mat-error *ngIf="f['password'].errors.required">
                      Password is <strong>required</strong>
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6 ">
                <mat-form-field class="example-full-width w-100" appearance="fill">
                  <mat-label>confirm Password</mat-label>
                  <input matInput formControlName="confirmPassword" matInput [type]="hide1 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide1 password'" [attr.aria-pressed]="hide1">
                      <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="f['confirmPassword'].errors && f['confirmPassword'].touched">
                      <mat-error *ngIf="f['confirmPassword'].errors.required">
                        confirmPassword is <strong>required</strong>
                      </mat-error>
                    </mat-error>
                    <mat-hint *ngIf="registerForm.hasError('notSame')">
                      Password <strong>not match</strong>
                    </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-12 text-center mt-2">
                <p>Already Have an Account ? <a routerLink="/login">Login</a></p>
              </div>
            </div>

            <div class="actions text-center mt-3">
              <button mat-raised-button color="primary" (click)="createAccount()" [disabled]="registerForm.invalid" >Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
