
<nav class="navbar navbar-expand-md position-fixed w-100">
  <div class="container">
    <a class="logo" routerLink="/tasks">
      <img src="assets/imgs/logo-tasks.png" alt="logo" />
    </a>
    <button class="navbar-toggler border-0" type="button">
      <span class="text-white"
        ><i
          (click)="toggle()"
          *ngIf="!isToggle"
          class="fas fa-bars bar-ico"
        ></i
        ><i
          (click)="toggle()"
          *ngIf="isToggle"
          class="fas fa-times bar-ico"
        ></i
      ></span>
    </button>

    <div [ngClass]="isToggle ? 'd-block':'d-none' "  class="collapse navbar-collapse w-100 justify-content-between">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/tasks" (click)="toggle()">Tasks</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item text-center">
          <button mat-raised-button color="warn" (click)="logout() ; toggle()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

