:root{
    --main-color:#3f51b5;
    --whiteColor:#fff;
    --whiteColor_50:rgb(255, 255, 255,0.5);
    --blackColor:#000;
    --blackColor_50:rgba(0, 0, 0, 0.5);
    --main-font-family:'Roboto', sans-serif;
    --second-font-family:'Roboto Condensed', sans-serif;
  }
  